<!-- <h1>{{techName}}</h1> -->
<div>
  <p style="color: red;">Time start: {{ formatTime(timeRemaining) }}</p>

 <div class="container">
  <div class="row">
    <div class="col-sm-12 modal-body" *ngFor="let material of qusForUser; let i = index">
      <h2>{{ i + 1 }}. {{ material.qus }}</h2>
    
      <div class="form-check" *ngFor="let option of material.answers; let j = index">
        <input
          type="radio"
          class="form-check-input"
          name="{{i}}"
          id="{{i}}{{j}}"
          (change)="onSelectAnswer(i, option)"
        />
        <label class="form-check-label" for="{{i}}{{j}}">
          <span style="font-size: 20px">{{option}}</span>
          <!-- <span *ngIf="isCorrectAnswer(material.correctAns, option)"></span> -->
        </label>
      </div>
    
      <div>
        <button *ngIf="!material.showans" (click)="toggleAnswer(i, 'show')" class="btn btn-outline-success" >Show Answer</button>
        <div *ngIf="material.showans">
          <button (click)="toggleAnswer(i, 'hide')" class="btn btn-outline-danger" >Hide Answer</button>
          <p style="font-size: 20px;">{{ material.correctAns }}</p>
        </div>
      </div>
    
    
      </div>
      <div class="col-sm-12" *ngIf="qusForUser">
        <button type="button" class="btn btn-success mt-5" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
  
</div>
  

<app-footer></app-footer>







